ipykernel
numpy
pandas
streamlit
streamlit-arabic-support-wrapper
scikit-learn
nltk
matplotlib
scikeras
python-dotenv
pypdf
pypdf2
langchain
langchain_community
langchain-text-splitters
langchain-openai
langchain-ollama
faiss-cpu
sentence_transformers
langchain_huggingface
langchain-groq
langserve[all]
fastapi
uvicorn
pydantic
sse_starlette
langchain-chroma
bs4
wikipedia
arxiv
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators
youtube-transcript-api
unstructured
numexpr
astrapy
cassio
gradio